html,body
{
	background-color:#fff;
	margin:0;
	border:0;
	padding:0;
	width:600px;
}

.floatingSquare
{
	position:absolute;
	top:20px;
	left:20px;
	color:white;
	background-color:#333;
	width:200px;
	height:20px;
	padding:20px;
	-webkit-box-shadow: 0px 0px 5px #444;
}

h1
{

	font-size: 200px;
}

.text{
	display: block;
	overflow: auto;
	margin-bottom:1em;
	margin-left:2em;
}
.from{
	float:left;
	font-style: italic;
	font-weight: 100;
	font-size: .8em;
	margin-right: 1em;
}
.content{
	float:left;
}
.legal{
	margin:5em;
	font-size:1em;
	font-style: italic;
	font-weight:100;
}
.drop{
	display:block;
    float:left;
    width:72px;
    height:72px;
    margin-top:5px;
    padding-right:8px;
    text-indent: -9000px;
    background-size:100%;
}
.A0{
	background: url(../images/A-0.jpg) 0 0 no-repeat;
}
.A1{
	background: url(../images/A-1.jpg) 0 0 no-repeat;
}
.A2{
	background: url(../images/A-2.jpg) 0 0 no-repeat;
}
.A3{
	background: url(../images/A-3.jpg) 0 0 no-repeat;
}
.A4{
	background: url(../images/A-4.jpg) 0 0 no-repeat;
}
.A5{
	background: url(../images/A-5.jpg) 0 0 no-repeat;
}
.A6{
	background: url(../images/A-6.jpg) 0 0 no-repeat;
}
.A7{
	background: url(../images/A-7.jpg) 0 0 no-repeat;
}
.A8{
	background: url(../images/A-8.jpg) 0 0 no-repeat;
}
.A9{
	background: url(../images/A-9.jpg) 0 0 no-repeat;
}
.A10{
	background: url(../images/A-10.jpg) 0 0 no-repeat;
}
.A11{
	background: url(../images/A-11.jpg) 0 0 no-repeat;
}
.A12{
	background: url(../images/A-12.jpg) 0 0 no-repeat;
}
.B0{
	background: url(../images/B-0.jpg) 0 0 no-repeat;
}
.B1{
	background: url(../images/B-1.jpg) 0 0 no-repeat;
}
.B2{
	background: url(../images/B-2.jpg) 0 0 no-repeat;
}
.B3{
	background: url(../images/B-3.jpg) 0 0 no-repeat;
}
.B4{
	background: url(../images/B-4.jpg) 0 0 no-repeat;
}
.B5{
	background: url(../images/B-5.jpg) 0 0 no-repeat;
}
.B6{
	background: url(../images/B-6.jpg) 0 0 no-repeat;
}
.B7{
	background: url(../images/B-7.jpg) 0 0 no-repeat;
}
.B8{
	background: url(../images/B-8.jpg) 0 0 no-repeat;
}
.B9{
	background: url(../images/B-9.jpg) 0 0 no-repeat;
}
.B10{
	background: url(../images/B-10.jpg) 0 0 no-repeat;
}
.B11{
	background: url(../images/B-11.jpg) 0 0 no-repeat;
}
.B12{
	background: url(../images/B-12.jpg) 0 0 no-repeat;
}
.C0{
	background: url(../images/C-0.jpg) 0 0 no-repeat;
}
.C1{
	background: url(../images/C-1.jpg) 0 0 no-repeat;
}
.C2{
	background: url(../images/C-2.jpg) 0 0 no-repeat;
}
.C3{
	background: url(../images/C-3.jpg) 0 0 no-repeat;
}
.C4{
	background: url(../images/C-4.jpg) 0 0 no-repeat;
}
.C5{
	background: url(../images/C-5.jpg) 0 0 no-repeat;
}
.C6{
	background: url(../images/C-6.jpg) 0 0 no-repeat;
}
.C7{
	background: url(../images/C-7.jpg) 0 0 no-repeat;
}
.C8{
	background: url(../images/C-8.jpg) 0 0 no-repeat;
}
.C9{
	background: url(../images/C-9.jpg) 0 0 no-repeat;
}
.C10{
	background: url(../images/C-10.jpg) 0 0 no-repeat;
}
.C11{
	background: url(../images/C-11.jpg) 0 0 no-repeat;
}
.C12{
	background: url(../images/C-12.jpg) 0 0 no-repeat;
}
.D0{
	background: url(../images/D-0.jpg) 0 0 no-repeat;
}
.D1{
	background: url(../images/D-1.jpg) 0 0 no-repeat;
}
.D2{
	background: url(../images/D-2.jpg) 0 0 no-repeat;
}
.D3{
	background: url(../images/D-3.jpg) 0 0 no-repeat;
}
.D4{
	background: url(../images/D-4.jpg) 0 0 no-repeat;
}
.D5{
	background: url(../images/D-5.jpg) 0 0 no-repeat;
}
.D6{
	background: url(../images/D-6.jpg) 0 0 no-repeat;
}
.D7{
	background: url(../images/D-7.jpg) 0 0 no-repeat;
}
.D8{
	background: url(../images/D-8.jpg) 0 0 no-repeat;
}
.D9{
	background: url(../images/D-9.jpg) 0 0 no-repeat;
}
.D10{
	background: url(../images/D-10.jpg) 0 0 no-repeat;
}
.D11{
	background: url(../images/D-11.jpg) 0 0 no-repeat;
}
.D12{
	background: url(../images/D-12.jpg) 0 0 no-repeat;
}
.E0{
	background: url(../images/E-0.jpg) 0 0 no-repeat;
}
.E1{
	background: url(../images/E-1.jpg) 0 0 no-repeat;
}
.E2{
	background: url(../images/E-2.jpg) 0 0 no-repeat;
}
.E3{
	background: url(../images/E-3.jpg) 0 0 no-repeat;
}
.E4{
	background: url(../images/E-4.jpg) 0 0 no-repeat;
}
.E5{
	background: url(../images/E-5.jpg) 0 0 no-repeat;
}
.E6{
	background: url(../images/E-6.jpg) 0 0 no-repeat;
}
.E7{
	background: url(../images/E-7.jpg) 0 0 no-repeat;
}
.E8{
	background: url(../images/E-8.jpg) 0 0 no-repeat;
}
.E9{
	background: url(../images/E-9.jpg) 0 0 no-repeat;
}
.E10{
	background: url(../images/E-10.jpg) 0 0 no-repeat;
}
.E11{
	background: url(../images/E-11.jpg) 0 0 no-repeat;
}
.E12{
	background: url(../images/E-12.jpg) 0 0 no-repeat;
}
.F0{
	background: url(../images/F-0.jpg) 0 0 no-repeat;
}
.F1{
	background: url(../images/F-1.jpg) 0 0 no-repeat;
}
.F2{
	background: url(../images/F-2.jpg) 0 0 no-repeat;
}
.F3{
	background: url(../images/F-3.jpg) 0 0 no-repeat;
}
.F4{
	background: url(../images/F-4.jpg) 0 0 no-repeat;
}
.F5{
	background: url(../images/F-5.jpg) 0 0 no-repeat;
}
.F6{
	background: url(../images/F-6.jpg) 0 0 no-repeat;
}
.F7{
	background: url(../images/F-7.jpg) 0 0 no-repeat;
}
.F8{
	background: url(../images/F-8.jpg) 0 0 no-repeat;
}
.F9{
	background: url(../images/F-9.jpg) 0 0 no-repeat;
}
.F10{
	background: url(../images/F-10.jpg) 0 0 no-repeat;
}
.F11{
	background: url(../images/F-11.jpg) 0 0 no-repeat;
}
.F12{
	background: url(../images/F-12.jpg) 0 0 no-repeat;
}
.G0{
	background: url(../images/G-0.jpg) 0 0 no-repeat;
}
.G1{
	background: url(../images/G-1.jpg) 0 0 no-repeat;
}
.G2{
	background: url(../images/G-2.jpg) 0 0 no-repeat;
}
.G3{
	background: url(../images/G-3.jpg) 0 0 no-repeat;
}
.G4{
	background: url(../images/G-4.jpg) 0 0 no-repeat;
}
.G5{
	background: url(../images/G-5.jpg) 0 0 no-repeat;
}
.G6{
	background: url(../images/G-6.jpg) 0 0 no-repeat;
}
.G7{
	background: url(../images/G-7.jpg) 0 0 no-repeat;
}
.G8{
	background: url(../images/G-8.jpg) 0 0 no-repeat;
}
.G9{
	background: url(../images/G-9.jpg) 0 0 no-repeat;
}
.G10{
	background: url(../images/G-10.jpg) 0 0 no-repeat;
}
.G11{
	background: url(../images/G-11.jpg) 0 0 no-repeat;
}
.G12{
	background: url(../images/G-12.jpg) 0 0 no-repeat;
}
.H0{
	background: url(../images/H-0.jpg) 0 0 no-repeat;
}
.H1{
	background: url(../images/H-1.jpg) 0 0 no-repeat;
}
.H2{
	background: url(../images/H-2.jpg) 0 0 no-repeat;
}
.H3{
	background: url(../images/H-3.jpg) 0 0 no-repeat;
}
.H4{
	background: url(../images/H-4.jpg) 0 0 no-repeat;
}
.H5{
	background: url(../images/H-5.jpg) 0 0 no-repeat;
}
.H6{
	background: url(../images/H-6.jpg) 0 0 no-repeat;
}
.H7{
	background: url(../images/H-7.jpg) 0 0 no-repeat;
}
.H8{
	background: url(../images/H-8.jpg) 0 0 no-repeat;
}
.H9{
	background: url(../images/H-9.jpg) 0 0 no-repeat;
}
.H10{
	background: url(../images/H-10.jpg) 0 0 no-repeat;
}
.H11{
	background: url(../images/H-11.jpg) 0 0 no-repeat;
}
.H12{
	background: url(../images/H-12.jpg) 0 0 no-repeat;
}
.I0{
	background: url(../images/I-0.jpg) 0 0 no-repeat;
}
.I1{
	background: url(../images/I-1.jpg) 0 0 no-repeat;
}
.I2{
	background: url(../images/I-2.jpg) 0 0 no-repeat;
}
.I3{
	background: url(../images/I-3.jpg) 0 0 no-repeat;
}
.I4{
	background: url(../images/I-4.jpg) 0 0 no-repeat;
}
.I5{
	background: url(../images/I-5.jpg) 0 0 no-repeat;
}
.I6{
	background: url(../images/I-6.jpg) 0 0 no-repeat;
}
.I7{
	background: url(../images/I-7.jpg) 0 0 no-repeat;
}
.I8{
	background: url(../images/I-8.jpg) 0 0 no-repeat;
}
.I9{
	background: url(../images/I-9.jpg) 0 0 no-repeat;
}
.I10{
	background: url(../images/I-10.jpg) 0 0 no-repeat;
}
.I11{
	background: url(../images/I-11.jpg) 0 0 no-repeat;
}
.I12{
	background: url(../images/I-12.jpg) 0 0 no-repeat;
}
.J0{
	background: url(../images/J-0.jpg) 0 0 no-repeat;
}
.J1{
	background: url(../images/J-1.jpg) 0 0 no-repeat;
}
.J2{
	background: url(../images/J-2.jpg) 0 0 no-repeat;
}
.J3{
	background: url(../images/J-3.jpg) 0 0 no-repeat;
}
.J4{
	background: url(../images/J-4.jpg) 0 0 no-repeat;
}
.J5{
	background: url(../images/J-5.jpg) 0 0 no-repeat;
}
.J6{
	background: url(../images/J-6.jpg) 0 0 no-repeat;
}
.J7{
	background: url(../images/J-7.jpg) 0 0 no-repeat;
}
.J8{
	background: url(../images/J-8.jpg) 0 0 no-repeat;
}
.J9{
	background: url(../images/J-9.jpg) 0 0 no-repeat;
}
.J10{
	background: url(../images/J-10.jpg) 0 0 no-repeat;
}
.J11{
	background: url(../images/J-11.jpg) 0 0 no-repeat;
}
.J12{
	background: url(../images/J-12.jpg) 0 0 no-repeat;
}
.K0{
	background: url(../images/K-0.jpg) 0 0 no-repeat;
}
.K1{
	background: url(../images/K-1.jpg) 0 0 no-repeat;
}
.K2{
	background: url(../images/K-2.jpg) 0 0 no-repeat;
}
.K3{
	background: url(../images/K-3.jpg) 0 0 no-repeat;
}
.K4{
	background: url(../images/K-4.jpg) 0 0 no-repeat;
}
.K5{
	background: url(../images/K-5.jpg) 0 0 no-repeat;
}
.K6{
	background: url(../images/K-6.jpg) 0 0 no-repeat;
}
.K7{
	background: url(../images/K-7.jpg) 0 0 no-repeat;
}
.K8{
	background: url(../images/K-8.jpg) 0 0 no-repeat;
}
.K9{
	background: url(../images/K-9.jpg) 0 0 no-repeat;
}
.K10{
	background: url(../images/K-10.jpg) 0 0 no-repeat;
}
.K11{
	background: url(../images/K-11.jpg) 0 0 no-repeat;
}
.K12{
	background: url(../images/K-12.jpg) 0 0 no-repeat;
}
.L0{
	background: url(../images/L-0.jpg) 0 0 no-repeat;
}
.L1{
	background: url(../images/L-1.jpg) 0 0 no-repeat;
}
.L2{
	background: url(../images/L-2.jpg) 0 0 no-repeat;
}
.L3{
	background: url(../images/L-3.jpg) 0 0 no-repeat;
}
.L4{
	background: url(../images/L-4.jpg) 0 0 no-repeat;
}
.L5{
	background: url(../images/L-5.jpg) 0 0 no-repeat;
}
.L6{
	background: url(../images/L-6.jpg) 0 0 no-repeat;
}
.L7{
	background: url(../images/L-7.jpg) 0 0 no-repeat;
}
.L8{
	background: url(../images/L-8.jpg) 0 0 no-repeat;
}
.L9{
	background: url(../images/L-9.jpg) 0 0 no-repeat;
}
.L10{
	background: url(../images/L-10.jpg) 0 0 no-repeat;
}
.L11{
	background: url(../images/L-11.jpg) 0 0 no-repeat;
}
.L12{
	background: url(../images/L-12.jpg) 0 0 no-repeat;
}
.M0{
	background: url(../images/M-0.jpg) 0 0 no-repeat;
}
.M1{
	background: url(../images/M-1.jpg) 0 0 no-repeat;
}
.M2{
	background: url(../images/M-2.jpg) 0 0 no-repeat;
}
.M3{
	background: url(../images/M-3.jpg) 0 0 no-repeat;
}
.M4{
	background: url(../images/M-4.jpg) 0 0 no-repeat;
}
.M5{
	background: url(../images/M-5.jpg) 0 0 no-repeat;
}
.M6{
	background: url(../images/M-6.jpg) 0 0 no-repeat;
}
.M7{
	background: url(../images/M-7.jpg) 0 0 no-repeat;
}
.M8{
	background: url(../images/M-8.jpg) 0 0 no-repeat;
}
.M9{
	background: url(../images/M-9.jpg) 0 0 no-repeat;
}
.M10{
	background: url(../images/M-10.jpg) 0 0 no-repeat;
}
.M11{
	background: url(../images/M-11.jpg) 0 0 no-repeat;
}
.M12{
	background: url(../images/M-12.jpg) 0 0 no-repeat;
}
.N0{
	background: url(../images/N-0.jpg) 0 0 no-repeat;
}
.N1{
	background: url(../images/N-1.jpg) 0 0 no-repeat;
}
.N2{
	background: url(../images/N-2.jpg) 0 0 no-repeat;
}
.N3{
	background: url(../images/N-3.jpg) 0 0 no-repeat;
}
.N4{
	background: url(../images/N-4.jpg) 0 0 no-repeat;
}
.N5{
	background: url(../images/N-5.jpg) 0 0 no-repeat;
}
.N6{
	background: url(../images/N-6.jpg) 0 0 no-repeat;
}
.N7{
	background: url(../images/N-7.jpg) 0 0 no-repeat;
}
.N8{
	background: url(../images/N-8.jpg) 0 0 no-repeat;
}
.N9{
	background: url(../images/N-9.jpg) 0 0 no-repeat;
}
.N10{
	background: url(../images/N-10.jpg) 0 0 no-repeat;
}
.N11{
	background: url(../images/N-11.jpg) 0 0 no-repeat;
}
.N12{
	background: url(../images/N-12.jpg) 0 0 no-repeat;
}
.O0{
	background: url(../images/O-0.jpg) 0 0 no-repeat;
}
.O1{
	background: url(../images/O-1.jpg) 0 0 no-repeat;
}
.O2{
	background: url(../images/O-2.jpg) 0 0 no-repeat;
}
.O3{
	background: url(../images/O-3.jpg) 0 0 no-repeat;
}
.O4{
	background: url(../images/O-4.jpg) 0 0 no-repeat;
}
.O5{
	background: url(../images/O-5.jpg) 0 0 no-repeat;
}
.O6{
	background: url(../images/O-6.jpg) 0 0 no-repeat;
}
.O7{
	background: url(../images/O-7.jpg) 0 0 no-repeat;
}
.O8{
	background: url(../images/O-8.jpg) 0 0 no-repeat;
}
.O9{
	background: url(../images/O-9.jpg) 0 0 no-repeat;
}
.O10{
	background: url(../images/O-10.jpg) 0 0 no-repeat;
}
.O11{
	background: url(../images/O-11.jpg) 0 0 no-repeat;
}
.O12{
	background: url(../images/O-12.jpg) 0 0 no-repeat;
}
.P0{
	background: url(../images/P-0.jpg) 0 0 no-repeat;
}
.P1{
	background: url(../images/P-1.jpg) 0 0 no-repeat;
}
.P2{
	background: url(../images/P-2.jpg) 0 0 no-repeat;
}
.P3{
	background: url(../images/P-3.jpg) 0 0 no-repeat;
}
.P4{
	background: url(../images/P-4.jpg) 0 0 no-repeat;
}
.P5{
	background: url(../images/P-5.jpg) 0 0 no-repeat;
}
.P6{
	background: url(../images/P-6.jpg) 0 0 no-repeat;
}
.P7{
	background: url(../images/P-7.jpg) 0 0 no-repeat;
}
.P8{
	background: url(../images/P-8.jpg) 0 0 no-repeat;
}
.P9{
	background: url(../images/P-9.jpg) 0 0 no-repeat;
}
.P10{
	background: url(../images/P-10.jpg) 0 0 no-repeat;
}
.P11{
	background: url(../images/P-11.jpg) 0 0 no-repeat;
}
.P12{
	background: url(../images/P-12.jpg) 0 0 no-repeat;
}
.Q0{
	background: url(../images/Q-0.jpg) 0 0 no-repeat;
}
.Q1{
	background: url(../images/Q-1.jpg) 0 0 no-repeat;
}
.Q2{
	background: url(../images/Q-2.jpg) 0 0 no-repeat;
}
.Q3{
	background: url(../images/Q-3.jpg) 0 0 no-repeat;
}
.Q4{
	background: url(../images/Q-4.jpg) 0 0 no-repeat;
}
.Q5{
	background: url(../images/Q-5.jpg) 0 0 no-repeat;
}
.Q6{
	background: url(../images/Q-6.jpg) 0 0 no-repeat;
}
.Q7{
	background: url(../images/Q-7.jpg) 0 0 no-repeat;
}
.Q8{
	background: url(../images/Q-8.jpg) 0 0 no-repeat;
}
.Q9{
	background: url(../images/Q-9.jpg) 0 0 no-repeat;
}
.Q10{
	background: url(../images/Q-10.jpg) 0 0 no-repeat;
}
.Q11{
	background: url(../images/Q-11.jpg) 0 0 no-repeat;
}
.Q12{
	background: url(../images/Q-12.jpg) 0 0 no-repeat;
}
.R0{
	background: url(../images/R-0.jpg) 0 0 no-repeat;
}
.R1{
	background: url(../images/R-1.jpg) 0 0 no-repeat;
}
.R2{
	background: url(../images/R-2.jpg) 0 0 no-repeat;
}
.R3{
	background: url(../images/R-3.jpg) 0 0 no-repeat;
}
.R4{
	background: url(../images/R-4.jpg) 0 0 no-repeat;
}
.R5{
	background: url(../images/R-5.jpg) 0 0 no-repeat;
}
.R6{
	background: url(../images/R-6.jpg) 0 0 no-repeat;
}
.R7{
	background: url(../images/R-7.jpg) 0 0 no-repeat;
}
.R8{
	background: url(../images/R-8.jpg) 0 0 no-repeat;
}
.R9{
	background: url(../images/R-9.jpg) 0 0 no-repeat;
}
.R10{
	background: url(../images/R-10.jpg) 0 0 no-repeat;
}
.R11{
	background: url(../images/R-11.jpg) 0 0 no-repeat;
}
.R12{
	background: url(../images/R-12.jpg) 0 0 no-repeat;
}
.S0{
	background: url(../images/S-0.jpg) 0 0 no-repeat;
}
.S1{
	background: url(../images/S-1.jpg) 0 0 no-repeat;
}
.S2{
	background: url(../images/S-2.jpg) 0 0 no-repeat;
}
.S3{
	background: url(../images/S-3.jpg) 0 0 no-repeat;
}
.S4{
	background: url(../images/S-4.jpg) 0 0 no-repeat;
}
.S5{
	background: url(../images/S-5.jpg) 0 0 no-repeat;
}
.S6{
	background: url(../images/S-6.jpg) 0 0 no-repeat;
}
.S7{
	background: url(../images/S-7.jpg) 0 0 no-repeat;
}
.S8{
	background: url(../images/S-8.jpg) 0 0 no-repeat;
}
.S9{
	background: url(../images/S-9.jpg) 0 0 no-repeat;
}
.S10{
	background: url(../images/S-10.jpg) 0 0 no-repeat;
}
.S11{
	background: url(../images/S-11.jpg) 0 0 no-repeat;
}
.S12{
	background: url(../images/S-12.jpg) 0 0 no-repeat;
}
.T0{
	background: url(../images/T-0.jpg) 0 0 no-repeat;
}
.T1{
	background: url(../images/T-1.jpg) 0 0 no-repeat;
}
.T2{
	background: url(../images/T-2.jpg) 0 0 no-repeat;
}
.T3{
	background: url(../images/T-3.jpg) 0 0 no-repeat;
}
.T4{
	background: url(../images/T-4.jpg) 0 0 no-repeat;
}
.T5{
	background: url(../images/T-5.jpg) 0 0 no-repeat;
}
.T6{
	background: url(../images/T-6.jpg) 0 0 no-repeat;
}
.T7{
	background: url(../images/T-7.jpg) 0 0 no-repeat;
}
.T8{
	background: url(../images/T-8.jpg) 0 0 no-repeat;
}
.T9{
	background: url(../images/T-9.jpg) 0 0 no-repeat;
}
.T10{
	background: url(../images/T-10.jpg) 0 0 no-repeat;
}
.T11{
	background: url(../images/T-11.jpg) 0 0 no-repeat;
}
.T12{
	background: url(../images/T-12.jpg) 0 0 no-repeat;
}
.U0{
	background: url(../images/U-0.jpg) 0 0 no-repeat;
}
.U1{
	background: url(../images/U-1.jpg) 0 0 no-repeat;
}
.U2{
	background: url(../images/U-2.jpg) 0 0 no-repeat;
}
.U3{
	background: url(../images/U-3.jpg) 0 0 no-repeat;
}
.U4{
	background: url(../images/U-4.jpg) 0 0 no-repeat;
}
.U5{
	background: url(../images/U-5.jpg) 0 0 no-repeat;
}
.U6{
	background: url(../images/U-6.jpg) 0 0 no-repeat;
}
.U7{
	background: url(../images/U-7.jpg) 0 0 no-repeat;
}
.U8{
	background: url(../images/U-8.jpg) 0 0 no-repeat;
}
.U9{
	background: url(../images/U-9.jpg) 0 0 no-repeat;
}
.U10{
	background: url(../images/U-10.jpg) 0 0 no-repeat;
}
.U11{
	background: url(../images/U-11.jpg) 0 0 no-repeat;
}
.U12{
	background: url(../images/U-12.jpg) 0 0 no-repeat;
}
.V0{
	background: url(../images/V-0.jpg) 0 0 no-repeat;
}
.V1{
	background: url(../images/V-1.jpg) 0 0 no-repeat;
}
.V2{
	background: url(../images/V-2.jpg) 0 0 no-repeat;
}
.V3{
	background: url(../images/V-3.jpg) 0 0 no-repeat;
}
.V4{
	background: url(../images/V-4.jpg) 0 0 no-repeat;
}
.V5{
	background: url(../images/V-5.jpg) 0 0 no-repeat;
}
.V6{
	background: url(../images/V-6.jpg) 0 0 no-repeat;
}
.V7{
	background: url(../images/V-7.jpg) 0 0 no-repeat;
}
.V8{
	background: url(../images/V-8.jpg) 0 0 no-repeat;
}
.V9{
	background: url(../images/V-9.jpg) 0 0 no-repeat;
}
.V10{
	background: url(../images/V-10.jpg) 0 0 no-repeat;
}
.V11{
	background: url(../images/V-11.jpg) 0 0 no-repeat;
}
.V12{
	background: url(../images/V-12.jpg) 0 0 no-repeat;
}
.W0{
	background: url(../images/W-0.jpg) 0 0 no-repeat;
}
.W1{
	background: url(../images/W-1.jpg) 0 0 no-repeat;
}
.W2{
	background: url(../images/W-2.jpg) 0 0 no-repeat;
}
.W3{
	background: url(../images/W-3.jpg) 0 0 no-repeat;
}
.W4{
	background: url(../images/W-4.jpg) 0 0 no-repeat;
}
.W5{
	background: url(../images/W-5.jpg) 0 0 no-repeat;
}
.W6{
	background: url(../images/W-6.jpg) 0 0 no-repeat;
}
.W7{
	background: url(../images/W-7.jpg) 0 0 no-repeat;
}
.W8{
	background: url(../images/W-8.jpg) 0 0 no-repeat;
}
.W9{
	background: url(../images/W-9.jpg) 0 0 no-repeat;
}
.W10{
	background: url(../images/W-10.jpg) 0 0 no-repeat;
}
.W11{
	background: url(../images/W-11.jpg) 0 0 no-repeat;
}
.W12{
	background: url(../images/W-12.jpg) 0 0 no-repeat;
}
.X0{
	background: url(../images/X-0.jpg) 0 0 no-repeat;
}
.X1{
	background: url(../images/X-1.jpg) 0 0 no-repeat;
}
.X2{
	background: url(../images/X-2.jpg) 0 0 no-repeat;
}
.X3{
	background: url(../images/X-3.jpg) 0 0 no-repeat;
}
.X4{
	background: url(../images/X-4.jpg) 0 0 no-repeat;
}
.X5{
	background: url(../images/X-5.jpg) 0 0 no-repeat;
}
.X6{
	background: url(../images/X-6.jpg) 0 0 no-repeat;
}
.X7{
	background: url(../images/X-7.jpg) 0 0 no-repeat;
}
.X8{
	background: url(../images/X-8.jpg) 0 0 no-repeat;
}
.X9{
	background: url(../images/X-9.jpg) 0 0 no-repeat;
}
.X10{
	background: url(../images/X-10.jpg) 0 0 no-repeat;
}
.X11{
	background: url(../images/X-11.jpg) 0 0 no-repeat;
}
.X12{
	background: url(../images/X-12.jpg) 0 0 no-repeat;
}
.Y0{
	background: url(../images/Y-0.jpg) 0 0 no-repeat;
}
.Y1{
	background: url(../images/Y-1.jpg) 0 0 no-repeat;
}
.Y2{
	background: url(../images/Y-2.jpg) 0 0 no-repeat;
}
.Y3{
	background: url(../images/Y-3.jpg) 0 0 no-repeat;
}
.Y4{
	background: url(../images/Y-4.jpg) 0 0 no-repeat;
}
.Y5{
	background: url(../images/Y-5.jpg) 0 0 no-repeat;
}
.Y6{
	background: url(../images/Y-6.jpg) 0 0 no-repeat;
}
.Y7{
	background: url(../images/Y-7.jpg) 0 0 no-repeat;
}
.Y8{
	background: url(../images/Y-8.jpg) 0 0 no-repeat;
}
.Y9{
	background: url(../images/Y-9.jpg) 0 0 no-repeat;
}
.Y10{
	background: url(../images/Y-10.jpg) 0 0 no-repeat;
}
.Y11{
	background: url(../images/Y-11.jpg) 0 0 no-repeat;
}
.Y12{
	background: url(../images/Y-12.jpg) 0 0 no-repeat;
}
.Z0{
	background: url(../images/Z-0.jpg) 0 0 no-repeat;
}
.Z1{
	background: url(../images/Z-1.jpg) 0 0 no-repeat;
}
.Z2{
	background: url(../images/Z-2.jpg) 0 0 no-repeat;
}
.Z3{
	background: url(../images/Z-3.jpg) 0 0 no-repeat;
}
.Z4{
	background: url(../images/Z-4.jpg) 0 0 no-repeat;
}
.Z5{
	background: url(../images/Z-5.jpg) 0 0 no-repeat;
}
.Z6{
	background: url(../images/Z-6.jpg) 0 0 no-repeat;
}
.Z7{
	background: url(../images/Z-7.jpg) 0 0 no-repeat;
}
.Z8{
	background: url(../images/Z-8.jpg) 0 0 no-repeat;
}
.Z9{
	background: url(../images/Z-9.jpg) 0 0 no-repeat;
}
.Z10{
	background: url(../images/Z-10.jpg) 0 0 no-repeat;
}
.Z11{
	background: url(../images/Z-11.jpg) 0 0 no-repeat;
}
.Z12{
	background: url(../images/Z-12.jpg) 0 0 no-repeat;
}